        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ">
                    <p>Spell Bind : is a software consultancy firm with a refreshing approach to software development. Our only aim is the successful delivery of your software product maintaining highest level of quality.</p>
                </div>
                <div class="col-lg-4">
                    <p>We provide expertise over a wide array of platforms and domains including browser engines like WebKit and Chromium, application development across all mobile platforms, web technologies and hybrid software targeting enterprise systems and high quality software for healthcare devices</p>
                </div>
                <div class="col-lg-4">
                    <p>Our engineers can join your team and significantly increase your capacity to undertake the most demanding software projects.</p>
                </div>
                <div class="col-lg-4">
                    <p>We can lead the development of your software solutions, develop new features from scratch, aid projects at critical junctures, or seed new projects from the start, nurturing and building your new team along the way.</p>
                </div>
            </div>
        </div>