
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>We work on mobile enabling enterprise solutions using web technologies like HTML5/CSS/Javascript and a hybrid container based framework like PhoneGap, targeting a multitude of mobile platforms at a rapid pace.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our engineers have working knowledge of Javascript libraries and frameworks like JQuery, JQuery Mobile, KnockoutJS and many more</p>
                </div>
                <div class="col-lg-4">
                    <p>We can create beautiful applications targeting a wide range of phones and tablets very quickly allowing you to rapidly strengthen and increase your customer-base.</p>
                </div>
            </div>
        </div>